<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <full_page_cache>
                <varnish>
                    <enable_bfcache>1</enable_bfcache>
                    <enable_media_cache>0</enable_media_cache>
                    <enable_static_cache>0</enable_static_cache>
                    <enable_404_cache>1</enable_404_cache>
                    <tracking_parameters>
                        <param_aci><param>aci</param></param_aci>
                        <param_aiden><param>aiden[A-Za-z_-]+</param></param_aiden>
                        <param_bl3nlclid><param>bl3nlclid</param></param_bl3nlclid>
                        <param__branch_match_id><param>_branch_match_id</param></param__branch_match_id>
                        <param_brid><param>brid</param></param_brid>
                        <param__bta><param>_bta_[a-z_-]+</param></param__bta>
                        <param___cf_chl_tk><param>__cf_chl_tk</param></param___cf_chl_tk>
                        <param__ga><param>_ga</param></param__ga>
                        <param__gl><param>_gl</param></param__gl>
                        <param__ke><param>_ke</param></param__ke>
                        <param__kx><param>_kx</param></param__kx>
                        <param_campid><param>campid</param></param_campid>
                        <param_channable><param>channable</param></param_channable>
                        <param_cof><param>cof</param></param_cof>
                        <param_customid><param>customid</param></param_customid>
                        <param_cx><param>cx</param></param_cx>
                        <param_dclid><param>dclid</param></param_dclid>
                        <param_dm_i><param>dm_i</param></param_dm_i>
                        <param_ef_id><param>ef_id</param></param_ef_id>
                        <param_email_hash><param>email_hash</param></param_email_hash>
                        <param_epik><param>epik</param></param_epik>
                        <param_fbclid><param>fbclid</param></param_fbclid>
                        <param_follo><param>follo_[a-z]+</param></param_follo>
                        <param_gad><param>gad_[a-z_-]+</param></param_gad>
                        <param_gbraid><param>gbraid</param></param_gbraid>
                        <param_gclid><param>gclid</param></param_gclid>
                        <param_gclsrc><param>gclsrc</param></param_gclsrc>
                        <param_gdffi><param>gdffi</param></param_gdffi>
                        <param_gdfms><param>gdfms</param></param_gdfms>
                        <param_gdftrk><param>gdftrk</param></param_gdftrk>
                        <param_gPromoCode><param>gPromoCode</param></param_gPromoCode>
                        <param_gQT><param>gQT</param></param_gQT>
                        <param_hl><param>hl</param></param_hl>
                        <param_hsa><param>hsa_[a-z_-]+</param></param_hsa>
                        <param_ie><param>ie</param></param_ie>
                        <param_igshid><param>igshid</param></param_igshid>
                        <param_irclickid><param>irclickid</param></param_irclickid>
                        <param_matomo><param>matomo_[a-z_-]+</param></param_matomo>
                        <param_mc><param>mc_[a-z_-]+</param></param_mc>
                        <param_mkcid><param>mkcid</param></param_mkcid>
                        <param_mkevt><param>mkevt</param></param_mkevt>
                        <param_mkrid><param>mkrid</param></param_mkrid>
                        <param_mkwid><param>mkwid</param></param_mkwid>
                        <param_mpid><param>mpid</param></param_mpid>
                        <param_msclkid><param>msclkid</param></param_msclkid>
                        <param_mtm><param>mtm_[a-z_-]+</param></param_mtm>
                        <param_ndclid><param>ndclid</param></param_ndclid>
                        <param_origin><param>origin</param></param_origin>
                        <param_overlaytest><param>overlaytest</param></param_overlaytest>
                        <param_pcrid><param>pcrid</param></param_pcrid>
                        <param_piwik><param>piwik_[a-z_-]+</param></param_piwik>
                        <param_pk_campaign><param>pk_campaign</param></param_pk_campaign>
                        <param_pk_keyword><param>pk_keyword</param></param_pk_keyword>
                        <param_pk_kwd><param>pk_kwd</param></param_pk_kwd>
                        <param_qty><param>qty</param></param_qty>
                        <param_redirect_log_mongo_id><param>redirect_log_mongo_id</param></param_redirect_log_mongo_id>
                        <param_redirect_mongo_id><param>redirect_mongo_id</param></param_redirect_mongo_id>
                        <param_rtid><param>rtid</param></param_rtid>
                        <param_s_kwcid><param>s_kwcid</param></param_s_kwcid>
                        <param_sb_referer_host><param>sb_referer_host</param></param_sb_referer_host>
                        <param_ScCid><param>ScCid</param></param_ScCid>
                        <param_si><param>si</param></param_si>
                        <param_siteurl><param>siteurl</param></param_siteurl>
                        <param_sms><param>sms_[a-z_-]+</param></param_sms>
                        <param_sqr><param>sqr</param></param_sqr>
                        <param_srsltid><param>srsltid</param></param_srsltid>
                        <param_toolid><param>toolid</param></param_toolid>
                        <param_trk><param>trk_[a-z_-]+</param></param_trk>
                        <param_ttclid><param>ttclid</param></param_ttclid>
                        <param_tw><param>tw_[a-z_-]+</param></param_tw>
                        <param_twclid><param>twclid</param></param_twclid>
                        <param_useriod><param>useriod</param></param_useriod>
                        <param_utm><param>utm_[a-z_-]+</param></param_utm>
                        <param_ved><param>ved</param></param_ved>
                        <param_vmcid><param>vmcid</param></param_vmcid>
                        <param_wbraid><param>wbraid</param></param_wbraid>
                        <param_yclid><param>yclid</param></param_yclid>
                        <param_zanpid><param>zanpid</param></param_zanpid>
                    </tracking_parameters>
                    <use_xkey_vmod>0</use_xkey_vmod>
                    <use_soft_purging>0</use_soft_purging>
                </varnish>
            </full_page_cache>
        </system>
    </default>
</config>
